// COLORS
$color-primary: rgba(250, 250, 250, 0);

$color-primary-light: #721cb3c5;
$color-primary-dark: rgb(96, 97, 139);


$color-secondary-light: #212121;
$color-secondary-dark: #D50000;

$color-tertiary-light: rgb(191, 188, 0);
$color-tertiary-dark: rgb(167, 240, 98);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
