.messageslist {
	width: 80vw;
	margin: 8vh auto;
	background-color: $color-primary-dark;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
	padding: 2rem;
	transition: transform 0.3s;

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__messageToRead,
	&__messageReaded {
		// height: 5vh;
		width: 20vw;
		// width: 4rem;
		padding: 2rem;
		margin: 1rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
		background-color: $color-tertiary-light;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: transform 0.3s;
		&:hover {
			transform: translateY(-1.5rem) scale(1.03);
    }
    h2 {
      font-size: 3rem;
      font-weight: 700;
      background-image: linear-gradient(
        to right,
        $color-primary-light,
        $color-primary-dark
      );
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
    }
    h3 {
      font-size: 3rem;
      font-weight: 700;
      -webkit-background-clip: text;
      color: $color-black;
      letter-spacing: 0.2rem;
    }
      &__content {
        font-size: 3rem;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
	}
	&__messageReaded {
		background-color: $color-secondary-dark;
	}
}
