.messagesdetails {
	width: 80vw;
	font-size: 3rem;
	margin: 8vh auto;
	background-color: $color-primary-dark;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
  padding: 2rem;

	p span {
		text-decoration: underline;
  }
  &__title {
  font-size: 3rem;
  font-weight: 700;
  // Use inline-block to limit the background on the side
  display: inline-block;
  //Use the color = transpa
  background-image: linear-gradient(
    to right,
    $color-tertiary-light,
    $color-tertiary-dark
  );
  //Clip the background to the text
  -webkit-background-clip: text;
  //Render the color to transparent to see the background color
  color: transparent;
  letter-spacing: 0.2rem;
  }
  &__from {
    font-size: 3rem;
    font-weight: 700;
    // Use inline-block to limit the background on the side
    display: inline-block;
    //Use the color = transpa
    background-image: linear-gradient(
      to right,
      $color-secondary-light,
      $color-secondary-dark
    );
    //Clip the background to the text
    -webkit-background-clip: text;
    //Render the color to transparent to see the background color
    color: transparent;
    letter-spacing: 0.2rem;
  }
  &__content {
    font-size: 3rem;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
