.product {
	margin: 0 auto;
	padding: 1rem;
	// margin: 1rem;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
	background-color: $color-primary-dark;
  display: flex;
  width: 30vw;
  height: 40vh;

	overflow: hidden;
	text-overflow: ellipsis;
	transition: transform 0.3s;
	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
	&__content {
		padding: 1rem;
		margin: .5rem;
  }

  &__description {
    font-size: 2rem;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
	&__contact {
		display: inline-block;
		// box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
		padding: .5rem;

	}
	img {
    margin: 1rem;
    width: 20vw;
		// max-height: 40vh;
		// min-height: 10vh;
		border-radius: 2rem;
	}
}

.productdetail {
	margin: 0 auto;
  // display: flex;
  width: 70vw;
  margin: 8vh auto;
  padding: 2rem;
  font-size: 3rem;
  background-color: $color-primary-dark;

  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  transition: transform 0.3s;
	&__row {
		// display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 3rem;
  }
  &__title {
		font-size: 2rem;
	font-weight: 700;
	// Use inline-block to limit the background on the side
	display: inline-block;
	//Use the color = transpa
	background-image: linear-gradient(
		to right,
		$color-tertiary-light,
		$color-tertiary-dark
	);
	//Clip the background to the text
	-webkit-background-clip: text;
	//Render the color to transparent to see the background color
	color: transparent;
	letter-spacing: 0.2rem;
  }
  &__price {
    font-size: 2rem;
    font-weight: 700;
    // Use inline-block to limit the background on the side
    display: inline-block;
    //Use the color = transpa
    background-image: linear-gradient(
      to right,
      $color-secondary-light,
      $color-secondary-dark
    );
    //Clip the background to the text
    -webkit-background-clip: text;
    //Render the color to transparent to see the background color
    color: transparent;
    letter-spacing: 0.2rem;
  }
  &__description {
    font-size: 2rem;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  img {
    min-height: 20vh;
    max-height: 50vh;
    border-radius: 2rem;
  }
}


